<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ws.dao.SizeDao">
	<insert id="insertSize" parameterType="size">
		insert into ws_size(size,sizeName) values(#{size},#{sizeName}) 
	</insert>
	
	<select id="selectTotalSize" resultType="map">
		select size,sizeName from ws_size
	</select>
	
	<select id="selectBySize" parameterType="java.lang.String" resultType="java.lang.String">
		select sizeName from ws_size where size=#{size}
	</select>
	
	<select id="selectSizeExsit" parameterType="java.lang.String" resultType="int">
		select count(1) from ws_size where size=#{sizeCode}
	</select>
</mapper>
